# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions / Cython
*.so
src/dj_tracker/*.c
src/dj_tracker/*.html

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage

# Django
*.log
*.pyc

db.sqlite3
trackingsdb

src/dj_tracker/static

# Dev
exp.py
*.prof
*.lprof
cython_debug
