site_name: dj-tracker
site_url: https://tijani-dia.github.io/dj-tracker/
repo_url: https://github.com/tijani-dia/dj-tracker
repo_name: tijani-dia/dj-tracker
theme:
  name: material

nav:
  - Home: index.md
  - Installation: installation.md
  - Configuration: configuration.md
  - Usage: usage.md
