{% load dj_tracker %}

<div class="mb-12"
     id="{{ query_pk }}"
     {%  if qs_tracking.duplicate %}
     data-duplicate="true"
     {% endif %}
     {%  if qs_tracking.related %}
     data-related="true"
     {% endif %}>
    <h5 class="text-xl my-2 bg-indigo-900 p-2 border-l-[12px] border-l-violet-100">
        <a href="{{ query.get_absolute_url }}" class="text-slate-50">{{ query_pk }}</a>
    </h5>
    <dl class="flex flex-wrap text-lg m-[12px]">
        <dt class="w-1/3 font-medium text-slate-600 mb-2">
            Model
        </dt>
        <dd class="w-2/3">
            {{ query.model }}
        </dd>
        <dt class="w-1/3 font-medium text-slate-600 mb-2">
            Num instance(s)
        </dt>
        <dd class="w-2/3">
            {{ query.num_instances }}
        </dd>
        <dt class="w-1/3 font-medium text-slate-600 mb-2">
            Query type
        </dt>
        <dd class="w-2/3">
            {{ query.query_type }}
        </dd>
        <dt class="w-1/3 font-medium text-slate-600 mb-2">
            Average duration
        </dt>
        <dd class="w-2/3">
            {{ query.average_duration_in_ms }} ms
        </dd>
        {% if qs_tracking.duplicate %}
            <dt class="w-1/3 font-medium text-slate-600 mb-2">
                Repeated
            </dt>
            <dd class="w-2/3">
                {{ qs_tracking.num_occurrences }} time(s)
            </dd>
        {% endif %}
        {% if query.field %}
            <dt class="w-1/3 font-medium text-slate-600 mb-2">
                Field
            </dt>
            <dd class="w-2/3">
                {{ query.field }}
            </dd>
        {% endif %}
        {% if query.cache_hits %}
            <dt class="w-1/3 font-medium text-slate-600 mb-2">
                Cache hits
            </dt>
            <dd class="w-2/3">
                {{ query.cache_hits }}
            </dd>
            <dt class="w-1/3 font-medium text-slate-600 mb-2">
                Cache info
            </dt>
            <dd class="w-2/3" x-data="{ open: false }">
                <button @click="open = !open">Show</button>
                <dl class="flex flex-wrap my-1" x-show="open">
                    <dt class="w-1/3 font-medium text-slate-600 mb-2 text-base">
                        .__len__
                    </dt>
                    <dd class="w-2/3">
                        {{ query.len_calls }}
                    </dd>
                    <dt class="w-1/3 font-medium text-slate-600 mb-2 text-base">
                        .__bool__
                    </dt>
                    <dd class="w-2/3">
                        {{ query.exists_calls }}
                    </dd>
                    <dt class="w-1/3 font-medium text-slate-600 mb-2 text-base">
                        .__contains__
                    </dt>
                    <dd class="w-2/3">
                        {{ query.contains_calls }}
                    </dd>
                </dl>
            </dd>
        {% endif %}
        {% if query.iterable_class %}
            {% if query.iterable_class == "ModelIterable" %}
                {% if query.num_instances %}
                    <dt class="w-1/3 font-medium text-slate-600 mb-2">
                        Model attributes accessed
                    </dt>
                    <dd class="w-2/3" x-data="{ open: false }">
                        <button @click="open = !open">Show</button>
                        <dl class="flex flex-wrap mt-2" x-show="open">
                            {% for attr, count in query.attributes_accessed.items %}
                                <dt class="w-2/3 font-medium text-slate-600 mb-2 text-base">
                                    {{ attr }}
                                </dt>
                                <dd class="w-1/3">
                                    {{ count }}
                                </dd>
                            {% endfor %}
                        </dl>
                    </dd>
                {% endif %}
            {% else %}
                <dt class="w-1/3 font-medium text-slate-600 mb-2">
                    Iterable class
                </dt>
                <dd class="w-2/3">
                    {{ query.iterable_class }}
                </dd>
            {% endif %}
        {% endif %}
    </dl>

    {% if qs_tracking.related %}
        <h5 class="m-2 text-lg font-medium text-slate-600">Related</h5>
        <div id="query-{{ query_pk }}"
             x-data="{ current: null }"
             class="divide-y divide-slate-300 w-full ml-2">
            {% for field, related_trackings in qs_tracking.related.items %}
                <div x-data>
                    <div class="flex justify-between items-baseline py-3 px-1.5 bg-indigo-900 text-slate-50 border-l-8 border-l-violet-100 w-full">
                        <h2 class="leading-none">
                            <button @click="current = current === $root ? null : $root">{{ field }}</button>
                        </h2>
                        {% with num_queries=related_trackings|total_queries %}
                            <small class="text-muted">{{ num_queries }} quer{{ num_queries|pluralize:"y,ies" }}</small>
                        {% endwith %}
                    </div>
                    <div x-show="current === $root" class="my-4 mx-10">
                        {% for related_qs in related_trackings %}
                            {% include "dj_tracker/qs_tracking.html" with qs_tracking=related_qs query=related_qs.query query_pk=related_qs.query.pk %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
