{% extends "dj_tracker/base.html" %}
{% block title %}Queryset tracking #{{ object.pk }}{% endblock %}
{% block body %}
    <h1 class="my-4 d-flex align-items-baseline">
        Queryset tracking #{{ object.pk }}
        <small class="text-muted fs-6 ms-3">{{ object.num_instances }} instances tracked.</small>
    </h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <button class="btn btn-dark"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#tb-{{ object.pk }}"
                        aria-expanded="false">
                    Traceback
                </button>
                <button class="btn btn-dark"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#sql-{{ object.pk }}"
                        aria-expanded="false">
                    SQL
                </button>
            </div>
            <div class="collapse" id="sql-{{ object.pk }}">
                <p class="card-text font-monospace">{{ object.sql }}</p>
            </div>
            <div class="collapse" id="tb-{{ object.pk }}">
                {% if object.traceback.template_info %}
                    <h5>Template Info</h5>
                    <p class="bg-secondary text-light p-2">{{ object.traceback.template_info.filename }}:{{ object.traceback.template_info.lineno }}</p>
                    <p class="card-text font-monospace">{{ object.traceback.template_info.code }}</p>
                {% endif %}
                {% with object.traceback.entries as stack_entries %}
                    {% if stack_entries %}
                        <div class="stack-middle my-4">
                            <h5>Stack Info</h5>
                            {% for entry in stack_entries %}
                                <p class="bg-secondary text-light p-2">{{ entry.filename }}:{{ entry.lineno }} - {{ entry.func }}</p>
                                <p class="card-text font-monospace">{{ entry.code }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="row my-4">
        <h4 class="h4">Hints</h4>
        <ul class="list-group list-group-flush">
            {% for hint in object.get_hints %}
                <li class="list-group-item">{{ hint }}</li>
            {% endfor %}
        </ul>
    </div>
    {% for instance_tracking in object.instance_trackings.all %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-baseline">
                    <h4 class="card-title">{{ instance_tracking.select_related_field }}</h4>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Get</th>
                        <th scope="col">Set</th>
                        <th scope="col">Occurrences</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for obj in instance_tracking.related_field_trackings.all %}
                            <tr>
                                <th scope="row">{{ obj.field_tracking.field.name }}</th>
                                <td>{{ obj.field_tracking.get_count }}</td>
                                <td>{{ obj.field_tracking.set_count }}</td>
                                <td>{{ obj.num_occurrences }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
