{% extends "dj_tracker/base.html" %}
{% block title %}Query Group #{{ object.pk }}{% endblock %}
{% block body %}
    <h1>Query Group #{{ object.pk }} -
        <small class="text-muted">{{ object.num_queries }} queries</small>
    </h1>
    <div class="row align-items-center">
        <div class="col">
            <h4 class="h4">Requests</h4>
            <ul class="list">
                {% for request in requests %}
                    <li class="list-item">{{ request.path }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col btn-group" role="group">
            <input type="checkbox" class="btn-check" id="show-duplicates" autocomplete="off">
            <label class="btn btn-outline-primary" for="show-duplicates">Duplicates</label>

            <input type="checkbox" class="btn-check" id="show-related" autocomplete="off">
            <label class="btn btn-outline-primary" for="show-related">Related</label>
        </div>
    </div>
    <div class="d-flex fs-5 my-4 flex-row flex-wrap">
        {% for qs_tracking in qs_trackings %}
            {% include "dj_tracker/qs_tracking.html" with qs_tracking=qs_tracking query=qs_tracking.query query_pk=qs_tracking.query.pk %}
        {% endfor %}
    </div>

    {{ query_pks|json_script:"query-pks" }}

    <script>
        const queryPKs = JSON.parse(document.getElementById("query-pks").textContent, (k, v) => v);
        const showDuplicates = document.querySelector("#show-duplicates");
        const showRelated = document.querySelector("#show-related");
        showDuplicates.addEventListener("click", e => {
            const display = showDuplicates.checked ? "none" : "";
            if (showRelated.checked) {
                showRelated.checked = false;
            }
            queryPKs.forEach(queryPK => {
                const el = document.getElementById(queryPK);
                if (!el.dataset.duplicate) {
                    el.style.display = display;
                } else if (el.style.display === "none") {
                    el.style.display = "";
                }
            })
        })
        showRelated.addEventListener("click", e => {
            const display = showRelated.checked ? "none" : "";
            if (showDuplicates.checked) {
                showDuplicates.checked = false;
            }
            queryPKs.forEach(queryPK => {
                const el = document.getElementById(queryPK);
                if (!el.dataset.related) {
                    el.style.display = display;
                } else if (el.style.display === "none") {
                    el.style.display = "";
                }
            })
        })
    </script>
{% endblock %}
