{% extends "dj_tracker/base.html" %}

{% block title %}{{ object.path }}{% endblock %}

{% block h1 %}{{ object.path }}{% endblock %}

{% block body %}
    <section>
        <ol>
            {% for query_group in page_obj %}
                <li class="p-3 flex justify-between">
                    <div>
                        <a href="{{ query_group.get_absolute_url }}">
                            #{{ query_group.pk }} - {{ query_group.num_queries }} queries
                        </a>
                        <div class="text-muted">
                            {{ query_group.latest_run_at|date:"D d M Y" }} at {{ query_group.latest_run_at|time:"H:i" }}
                        </div>
                    </div>
                    <span class="rounded-pill">{{ query_group.num_trackings }}</span>
                </li>
            {% endfor %}
        </ol>

        {% include "dj_tracker/pagination.html" %}
    </section>
{% endblock %}
